*{
    padding: 0;
    margin: 0;
    }
body{
    padding: 0;
}
Header{
    background-color:rgb(3, 18, 27);
    padding: 3px 3px;
    margin: auto;
    color: seashell;
    box-shadow: 0 0 10px 0 rgba(105, 44, 44, 0.8);
}
.navBar{
    color:rgb(19, 20, 9);
    background-color : transparent;
    padding: 2px 2px;
    margin:10px;
    border-radius: 12px;
    margin-left: 0%;
}
.textstyle{
    font-family:monospace;
    font-weight: bold;
    color: lavenderblush;
    font-style:italic;
    background-color: rgb(216, 45, 102);
    padding: 6px;
    border-radius: 20px;
}
Form{
    padding:50px;
    text-align: center;
    margin: 20%; 
    height:auto;
    border-radius: 30px;
    background:linear-gradient(to right bottom, rgba(18, 67, 117, 0.973), rgba(103, 37, 123, 0.653));
    color:rgb(173, 215, 216);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
.note{
    box-shadow: 0 2px 3px #ccc;
    border-radius: 7px;
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}
.note h1{
    font-size: 1.1em;
    margin-bottom: 6px;
}
.note p{
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

Footer{
    text-align: center;
    width: 100%;
    height: 1.2rem;
    position: absolute;
    bottom: 0;
    color: #ccc;
}

Button{
    background-color:rgb(216, 45, 102);
}